<div id = "create_edit">
  <div id="events_create_edit">
    <%= form_for(@dropzone, :html => {:multipart => true}) do |f| %>
      <%= f.label :state %>
      <%= f.text_field :state, :required => true, :autofocus => true %>
      <%= f.label :dz_name %>
      <%= f.text_field :dz_name, :required => true %>
      <%= f.label :image %>
      <%= f.cl_image_upload :image %>
      <%= f.label :latitude %>
      <%= f.text_field :latitude %>
      <%= f.label :longitude %>
      <%= f.text_field :longitude %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
