<div id = "blueskies">

  <div id="show_html">
    <h2 class="show_event_h2"><%= @event[:name] %></h2>

    <%= cl_image_tag(@event.image, :crop => :fill, :class => "img") %>


    <ul class="event_details">
      <li>Date: <%= @event[:date].strftime "%e %b %Y"  %></li>
        <% if @event.dropzone.present? %>
          <li>Dropzone: <%= link_to @event.dropzone.dz_name, @event.dropzone %> </li>
        <% end %>
      <li>Organiser: <%= @event[:organiser]%></li>
        <% if @event.coach.present? %>
          <li>Coach: <%= @event[:coach] if @event.coach.present?%></li>
        <% end %>
      <li>Price: <%= number_to_currency @event[:price] if  @event.price.present?%></li>
        <% if @event.contact.present? %>
          <li>Contact: <%= @event[:contact] if @event.contact.present?%></li>
        <% end %>

      <% @event.disciplines.each do |discipline| %>
        <li>Category: <%= discipline.name%></li>
      <% end %>

    </ul>

    <% if @event.user_id == @current_user.id %>
      <%= button_to "Unattend", unattend_path(@event.id)%>
    <% else %>
      <%= button_to "Going", attend_path(@event.id) %>
    <% end %>
  </div>

  <div class="controls_show">
    <%= link_to "Edit", edit_event_path(@event.id) %>
    <%= link_to "Delete", @event, :method => 'delete', :data => {:confirm => "Are you sure?"} %>
  </div>

</div>
