<!DOCTYPE html>
<html>
  <head>
    <title>Project01</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= cloudinary_js_config %>
  </head>
  <div class="container">
    <nav>
          <% if @current_user.present? %>
            <%= link_to "Profile", root_path %>
            <%= link_to "Events", events_path %>
            <%= link_to "Dropzones", dropzones_path %>
            <span class="log_out"><%= link_to "Log out", login_path, :method => 'delete' %></span>
          <% else %>
            <%= link_to 'Sign up', new_user_path %>
            <%= link_to "Login", login_path %>
          <% end %>
    </nav>
   <body>
     <%= yield %>
   </body>
   </div>
</html>
